In [196]:
df1

,person_age,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status,person_gender_male,previous_loan_defaults_on_file_Yes
0,22.0,4,71948.0,0.0,3,23093.125,4,16.02,0.37,3.0,561.0,1,0,0
1,21.0,3,12282.0,0.0,2,1000.000,1,11.14,0.08,2.0,504.0,0,0,1
2,25.0,3,12438.0,3.0,0,5500.000,3,12.87,0.37,3.0,635.0,1,0,0
3,23.0,1,79753.0,0.0,3,23093.125,3,15.23,0.37,2.0,675.0,1,0,0
4,24.0,4,66135.0,1.0,3,23093.125,3,14.27,0.37,4.0,586.0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,0,47971.0,6.0,3,15000.000,3,15.66,0.31,3.0,645.0,1,1,0
44996,37.0,0,65800.0,17.0,3,9000.000,2,14.07,0.14,11.0,621.0,1,0,0
44997,33.0,0,56942.0,7.0,3,2771.000,0,10.02,0.05,10.0,668.0,1,1,0
44998,29.0,1,33164.0,4.0,3,12000.000,1,13.23,0.36,6.0,604.0,1,1,0
44999,24.0,3,51609.0,1.0,3,6665.000,0,17.05,0.13,3.0,628.0,1,1,0

In [197]:
indep_X=df1.drop('loan_status', axis=1)
dep_Y=df1['loan_status']

In [198]:
import pandas as pd
from sklearn.model_selection import train_test_split 
import time
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
import pickle
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier

def model_importance_selection(indep_X, dep_Y, n):
    rf = RandomForestClassifier(random_state=42)
    rf.fit(indep_X, dep_Y)
    
    # Create DataFrame of feature importances
    importance_df = pd.DataFrame({
        'Feature': indep_X.columns,
        'Importance': rf.feature_importances_
    }).sort_values(by='Importance', ascending=False)
    
    selected_features = importance_df['Feature'].head(n)
    dropped_features = importance_df['Feature'].tail(len(indep_X.columns) - n)
    
    print("Top Selected Features (Model Importance):\n", selected_features.tolist())
    print("Dropped Features:\n", dropped_features.tolist())
    
    reduced_X = indep_X[selected_features]
    return selected_features, dropped_features, reduced_X

    
def split_scalar(indep_X,dep_Y):
        X_train, X_test, y_train, y_test = train_test_split(indep_X, dep_Y, test_size = 0.25, random_state = 0)
        sc = StandardScaler()
        X_train = sc.fit_transform(X_train)
        X_test = sc.transform(X_test)    
        return X_train, X_test, y_train, y_test
    
 
def cm_prediction(classifier,X_test):
     y_pred = classifier.predict(X_test)
        
        # Making the Confusion Matrix
     from sklearn.metrics import confusion_matrix
     cm = confusion_matrix(y_test, y_pred)
        
     from sklearn.metrics import accuracy_score 
     from sklearn.metrics import classification_report 
        #from sklearn.metrics import confusion_matrix
        #cm = confusion_matrix(y_test, y_pred)
        
     Accuracy=accuracy_score(y_test, y_pred )
        
     report=classification_report(y_test, y_pred)
     return  classifier,Accuracy,report,X_test,y_test,cm

def logistic(X_train,y_train,X_test):       
        # Fitting K-NN to the Training set
        from sklearn.linear_model import LogisticRegression
        classifier = LogisticRegression(random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm      
    
def svm_linear(X_train,y_train,X_test):
                
        from sklearn.svm import SVC
        classifier = SVC(kernel = 'linear', random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm
    
def svm_NL(X_train,y_train,X_test):
                
        from sklearn.svm import SVC
        classifier = SVC(kernel = 'rbf', random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm
   
def Navie(X_train,y_train,X_test):       
        # Fitting K-NN to the Training set
        from sklearn.naive_bayes import GaussianNB
        classifier = GaussianNB()
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm         
    
    
def knn(X_train,y_train,X_test):
           
        # Fitting K-NN to the Training set
        from sklearn.neighbors import KNeighborsClassifier
        classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm
def Decision(X_train,y_train,X_test):
        
        # Fitting K-NN to the Training set
        from sklearn.tree import DecisionTreeClassifier
        classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm      


def random(X_train,y_train,X_test):
        
        # Fitting K-NN to the Training set
        from sklearn.ensemble import RandomForestClassifier
        classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm
    
def featureImp_Classification(acclog, accsvml, accsvmnl, accknn, accnav, accdes, accrf):
    dataframe = pd.DataFrame(
        index=['FeatureImportance'],
        columns=['Logistic', 'SVMl', 'SVMnl', 'KNN', 'Navie', 'Decision', 'Random']
    )
    for number, idex in enumerate(dataframe.index):
        dataframe.loc[idex, 'Logistic'] = acclog[number]
        dataframe.loc[idex, 'SVMl'] = accsvml[number]
        dataframe.loc[idex, 'SVMnl'] = accsvmnl[number]
        dataframe.loc[idex, 'KNN'] = accknn[number]
        dataframe.loc[idex, 'Navie'] = accnav[number]
        dataframe.loc[idex, 'Decision'] = accdes[number]
        dataframe.loc[idex, 'Random'] = accrf[number]
    return dataframe

In [199]:
selected_features,dropped_features,reduced_X=model_importance_selection(indep_X,dep_Y,7)       

acclog=[]
accsvml=[]
accsvmnl=[]
accknn=[]
accnav=[]
accdes=[]
accrf=[]

Top Selected Features (Model Importance):
 ['previous_loan_defaults_on_file_Yes', 'loan_percent_income', 'loan_int_rate', 'person_income', 'person_home_ownership', 'loan_amnt', 'credit_score']
Dropped Features:
 ['loan_intent', 'person_age', 'person_emp_exp', 'cb_person_cred_hist_length', 'person_education', 'person_gender_male']

In [10]:
import warnings
warnings.filterwarnings("ignore")

In [200]:
df1.drop(columns=['loan_intent', 'person_age', 'person_emp_exp', 'cb_person_cred_hist_length', 'person_education', 'person_gender_male'], inplace=True)

In [235]:
df1

,person_income,person_home_ownership,loan_amnt,loan_int_rate,loan_percent_income,credit_score,loan_status,previous_loan_defaults_on_file_Yes
0,71948.0,3,23093.125,16.02,0.37,561.0,1,0
1,12282.0,2,1000.000,11.14,0.08,504.0,0,1
2,12438.0,0,5500.000,12.87,0.37,635.0,1,0
3,79753.0,3,23093.125,15.23,0.37,675.0,1,0
4,66135.0,3,23093.125,14.27,0.37,586.0,1,0
...,...,...,...,...,...,...,...,...
44995,47971.0,3,15000.000,15.66,0.31,645.0,1,0
44996,65800.0,3,9000.000,14.07,0.14,621.0,1,0
44997,56942.0,3,2771.000,10.02,0.05,668.0,1,0
44998,33164.0,3,12000.000,13.23,0.36,604.0,1,0
44999,51609.0,3,6665.000,17.05,0.13,628.0,1,0