In [2]:
dataset.isnull().sum()

make                    0
model                   0
year                    0
mileage                 0
engine_hp               0
transmission            0
fuel_type               0
drivetrain              0
body_type               0
exterior_color          0
interior_color          0
owner_count             0
accident_history    49095
seller_type             0
condition               0
trim                    0
vehicle_age             0
mileage_per_year        0
brand_popularity        0
price                   0
dtype: int64

In [2]:
dataset.drop(columns=['accident_history'],inplace=True)

In [9]:
dataset.head()

,make,model,year,mileage,engine_hp,transmission,fuel_type,drivetrain,body_type,exterior_color,interior_color,owner_count,seller_type,condition,trim,vehicle_age,mileage_per_year,brand_popularity,price
0,Volkswagen,Jetta,2016,183903,173,Manual,Electric,RWD,Sedan,Blue,Brown,5,Dealer,Excellent,EX,9,20433.666667,0.040054,7208.52
1,Lexus,RX,2010,236643,352,Manual,Gasoline,FWD,Sedan,Silver,Beige,5,Dealer,Good,LX,15,15776.200000,0.039921,6911.81
2,Subaru,Crosstrek,2016,103199,188,Automatic,Diesel,AWD,Sedan,Silver,Beige,5,Dealer,Excellent,Touring,9,11466.555556,0.040230,11915.63
3,Cadillac,Lyriq,2016,118889,338,Manual,Gasoline,AWD,SUV,Black,Gray,3,Private,Good,Base,9,13209.888889,0.039847,25984.79
4,Toyota,Highlander,2018,204170,196,Manual,Diesel,FWD,Sedan,Red,Brown,5,Dealer,Excellent,Sport,7,29167.142857,0.039627,8151.30

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.preprocessing import LabelEncoder

In [6]:
def QualQuan(dataset):
    Quan=[]
    Qual=[]
    for columnName in dataset.columns:
        if dataset[columnName].dtype =='O':
            Qual.append(columnName)
        else:
            Quan.append(columnName)
    return Quan,Qual

In [7]:
Quan,Qual = QualQuan(dataset)

In [6]:
Quan

['year',
 'mileage',
 'engine_hp',
 'owner_count',
 'vehicle_age',
 'mileage_per_year',
 'brand_popularity',
 'price']

In [9]:
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [10]:
Descriptive = pd.DataFrame(index=['Mean','Median','Mode','Q1:25th','Q2:50th','Q3:75th'
                                      ,'99%','Q4:100th','IQR','1.5rule','Lesser','Greater',
                                      'Min','Max','kurtosis','skew','Var','Std'],columns=Quan)
for columnName in Quan:
        with warnings.catch_warnings():
            warnings.simplefilter("ignore")
            Descriptive[columnName]["Mean"]=dataset[columnName].mean()
            Descriptive[columnName]["Median"]=dataset[columnName].median()
            Descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
            Descriptive[columnName]["Q1:25th"]=dataset.describe()[columnName]["25%"]
            Descriptive[columnName]["Q2:50th"]=dataset.describe()[columnName]["50%"]
            Descriptive[columnName]["Q3:75th"]=dataset.describe()[columnName]["75%"]
            Descriptive[columnName]["99%"]=np.percentile(dataset[columnName],99)
            Descriptive[columnName]["Q4:100th"]=dataset.describe()[columnName]["max"]
            Descriptive[columnName]["IQR"]=Descriptive[columnName]["Q3:75th"]-Descriptive[columnName]["Q1:25th"]
            Descriptive[columnName]["1.5rule"]=1.5*Descriptive[columnName]["IQR"]
            Descriptive[columnName]["Lesser"]=Descriptive[columnName]["Q1:25th"]-Descriptive[columnName]["1.5rule"]
            Descriptive[columnName]["Greater"]=Descriptive[columnName]["Q3:75th"]+Descriptive[columnName]["1.5rule"]
            Descriptive[columnName]["Min"]=dataset.describe()[columnName]["min"]
            Descriptive[columnName]["Max"]=dataset.describe()[columnName]["max"]
            Descriptive[columnName]["kurtosis"]=dataset[columnName].kurtosis()
            Descriptive[columnName]["skew"]= dataset[columnName].skew()
            Descriptive[columnName]["Var"] = dataset[columnName].var()
            Descriptive[columnName]["Std"] = dataset[columnName].std()

In [9]:
Descriptive

,year,mileage,engine_hp,owner_count,vehicle_age,mileage_per_year,brand_popularity,price
Mean,2017.452903,112595.887053,235.509819,3.482078,7.586099,14534.298324,0.04,20300.714472
Median,2017.0,103482.0,214.0,4.0,8.0,14670.0,0.040022,17768.97
Mode,2017,300000,90,5,8,500.0,0.039842,1500.0
Q1:25th,2015.0,57864.5,161.0,2.0,5.0,10484.403846,0.039842,10310.81
Q2:50th,2017.0,103482.0,214.0,4.0,8.0,14670.0,0.040022,17768.97
Q3:75th,2020.0,157538.5,300.0,5.0,10.0,18678.477273,0.040148,27553.52
99%,2025.0,300000.0,476.0,5.0,17.0,28848.048,0.040484,62402.491
Q4:100th,2025.0,300000.0,565.0,5.0,25.0,49307.0,0.040484,88195.88
IQR,5.0,99674.0,139.0,3.0,5.0,8194.073427,0.000306,17242.71
1.5rule,7.5,149511.0,208.5,4.5,7.5,12291.11014,0.000459,25864.065
Lesser,2007.5,-91646.5,-47.5,-2.5,-2.5,-1806.706294,0.039383,-15553.255
Greater,2027.5,307049.5,508.5,9.5,17.5,30969.587413,0.040607,53417.585
Min,2000.0,500.0,90.0,1.0,1.0,41.666667,0.039318,1500.0
Max,2025.0,300000.0,565.0,5.0,25.0,49307.0,0.040484,88195.88
kurtosis,-0.28175,-0.183289,-0.213856,-1.340429,-0.33981,-0.027681,1.155774,1.208628
skew,-0.157088,0.588826,0.705184,-0.445127,0.239464,0.021249,-0.723844,1.037914
Var,15.182354,5170081789.443921,8764.045678,2.386222,14.631122,37389884.140715,0.0,186510569.118863
Std,3.896454,71903.280797,93.616482,1.54474,3.825065,6114.726825,0.000235,13656.887241

In [11]:
lesser=[]
greater=[]

for columnName in Quan:
    if Descriptive[columnName]['Min']<Descriptive[columnName]['Lesser']:
        lesser.append(columnName)
    if Descriptive[columnName]['Max']>Descriptive[columnName]['Greater']:
        greater.append(columnName)

In [79]:
lesser

['year', 'brand_popularity']

In [80]:
greater

['engine_hp', 'vehicle_age', 'mileage_per_year', 'price']

In [12]:
def ReplaceOutliers(dataset,greater,lesser,Descriptive):
    for columnName in lesser:
        dataset[columnName][dataset[columnName]<Descriptive[columnName]['Lesser']]=Descriptive[columnName]['Lesser']
    for columnName in greater:
        dataset[columnName][dataset[columnName]>Descriptive[columnName]['Greater']]=Descriptive[columnName]['Greater']
    return dataset

In [13]:
ReplaceOutliers(dataset,greater,lesser,Descriptive)

,make,model,year,mileage,engine_hp,transmission,fuel_type,drivetrain,body_type,exterior_color,interior_color,owner_count,seller_type,condition,trim,vehicle_age,mileage_per_year,brand_popularity,price
0,Volkswagen,Jetta,2016.0,183903,173.0,Manual,Electric,RWD,Sedan,Blue,Brown,5,Dealer,Excellent,EX,9.0,20433.666667,0.040054,7208.52
1,Lexus,RX,2010.0,236643,352.0,Manual,Gasoline,FWD,Sedan,Silver,Beige,5,Dealer,Good,LX,15.0,15776.200000,0.039921,6911.81
2,Subaru,Crosstrek,2016.0,103199,188.0,Automatic,Diesel,AWD,Sedan,Silver,Beige,5,Dealer,Excellent,Touring,9.0,11466.555556,0.040230,11915.63
3,Cadillac,Lyriq,2016.0,118889,338.0,Manual,Gasoline,AWD,SUV,Black,Gray,3,Private,Good,Base,9.0,13209.888889,0.039847,25984.79
4,Toyota,Highlander,2018.0,204170,196.0,Manual,Diesel,FWD,Sedan,Red,Brown,5,Dealer,Excellent,Sport,7.0,29167.142857,0.039627,8151.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,Kia,Sportage,2014.0,151413,96.0,Manual,Gasoline,RWD,Sedan,White,Gray,5,Dealer,Good,Sport,11.0,13764.818182,0.040484,3537.45
65531,Kia,Sorento,2010.0,179660,115.0,Manual,Gasoline,AWD,SUV,Blue,Gray,5,Dealer,Good,EX,15.0,11977.333333,0.040484,1500.00
65532,Tesla,Model 3,2019.0,37521,372.0,Automatic,Electric,AWD,Sedan,White,Brown,2,Private,Good,Sport,6.0,6253.500000,0.040226,36798.53
65533,Dodge,Charger,2020.0,51828,240.0,Manual,Gasoline,RWD,Coupe,Gray,Brown,4,Private,Excellent,Touring,5.0,10365.600000,0.040035,23999.79
65534,Jeep,Compass,2015.0,195035,217.0,Automatic,Diesel,AWD,SUV,Black,Brown,5,Private,Excellent,Base,10.0,19503.500000,0.040006,8178.11

In [3]:
df1=dataset.copy()

In [4]:
from sklearn.preprocessing import LabelEncoder
import pickle

cat_cols = [
    'make', 'model', 'fuel_type', 'drivetrain',
    'body_type', 'exterior_color', 'interior_color',
    'condition', 'trim'
]

# Dictionary to store encoders for each categorical feature
encoders = {}

for col in cat_cols:
    le = LabelEncoder()
    df1[col] = le.fit_transform(df1[col].astype(str))
    encoders[col] = le  # store the encoder

# Save all encoders
pickle.dump(encoders, open('label_encoders.pkl', 'wb'))

In [5]:
cat_cols = [
    'transmission', 'seller_type'
]

# One-hot encode categorical variables
df1 = pd.get_dummies(df1, columns=cat_cols, dtype = int,drop_first=True)

In [6]:
df1.head()

,make,model,year,mileage,engine_hp,fuel_type,drivetrain,body_type,exterior_color,interior_color,owner_count,accident_history,condition,trim,vehicle_age,mileage_per_year,brand_popularity,price,transmission_Manual,seller_type_Private
0,23,50,2016,183903,173,1,2,5,1,2,5,NaN,0,1,9,20433.666667,0.040054,7208.52,1,0
1,14,77,2010,236643,352,2,1,5,4,0,5,Minor,2,2,15,15776.200000,0.039921,6911.81,1,0
2,20,27,2016,103199,188,0,0,5,4,0,5,NaN,0,5,9,11466.555556,0.040230,11915.63,0,0
3,3,51,2016,118889,338,2,0,4,0,3,3,NaN,2,0,9,13209.888889,0.039847,25984.79,1,1
4,22,46,2018,204170,196,0,1,5,3,2,5,Minor,0,4,7,29167.142857,0.039627,8151.30,1,0

In [28]:
df1.columns

Index(['make', 'model', 'year', 'mileage', 'engine_hp', 'fuel_type',
       'drivetrain', 'body_type', 'exterior_color', 'interior_color',
       'owner_count', 'condition', 'trim', 'vehicle_age', 'mileage_per_year',
       'brand_popularity', 'price', 'transmission_Manual',
       'seller_type_Private'],
      dtype='object')